extends layout

block links
	// Plugin specific styles
	link(href='css/plugins/dc.css', rel='stylesheet', type='text/css')
	link(href='css/plugins/c3.min.css', rel='stylesheet', type='text/css')

	// Page specific styles
	link(href='css/example.css', rel='stylesheet', type='text/css')
	link(href='css/crosscompare.css', rel='stylesheet', type='text/css')

block content
	// CrossCompare
	#crosscompareInfo
		span#crosscompareInfoTxt -
		.pull-right
			button.btn.btn-xs.btn-primary.maxCrossCompare_open.closeCross Show Comparison
			|  
			button.btn.btn-xs.btn-default.closeCross.resetCrossCompare Close

	#maxCrossCompare
		.box.box-solid
			.box-header.with-border
				h3.box-title CrossCompare
				.box-tools.pull-right
					button.btn.btn-box-tool.maxCrossCompare_close.openCross
						i.fa.fa-minus
						|  Minimize
					button.btn.btn-box-tool.maxCrossCompare_close.resetCrossCompare
						i.fa.fa-times
						|  Close
			.box-body
				#crosscompare

	// Main content
	section.content
		// Airport and Compare (Header)
		.row
			// Airport Select
			.col-md-3.col-sm-3.col-xs-12
				.box.box-primary
					.box-body.selection
						.col-xs-3.text-center Airport 
						// AUTOMATE OPTION INSERT
						//future work (out of scope, requires ARP db)
						strong
							select.form-control.col-xs-9#airportSelect
								option(value='ALL') show all
								option(value='ATL') Atlanta (ATL)
								option(value='ORD') Chicago (ORD)
								option(value='JFK') New York (JFK)

			// Airline Select
			.col-md-3.col-sm-3.col-xs-12
				.box.box-default
					.box-body.selection
						.col-xs-3.text-center Airline 
						strong
							select.form-control.col-xs-9#airlineSelect
								option(value='ALL') show all
								option(value='B6') Jetblue (B6)
								option(value='CO') CO
								option(value='DL') Delta (DL)

			// Total Flights
			.col-md-2.col-sm-2.col-xs-12
				.box.box-info
					.box-body.selection
						#flights 
					+loading

			// Average Delay
			.col-md-2.col-sm-2.col-xs-12
				.box.box-info
					.box-body.selection
						| Mean Delay: 
						strong#delay 
						small  (min)
					+loading

			// Reset All Button
			.col-md-2.col-sm-2.col-xs-12
				.col-xs-8.pull-right#resetButton
					.box.box-solid
						#resetAll

		// Movement, date, and KPIs
		.row
			// Movements by Date
			.col-md-6.col-sm-6.col-xs-12#width-half
				.box.box-solid
					.box-header.with-border
						h3.box-title Number of Flights 
							small (per hour)
						.box-tools.pull-right
							button.btn.btn-box-tool.infoMovementsChart_open
								i.fa.fa-info
								|  Info
							// Info content
							#infoMovementsChart
								.box.box-solid.info
									+info
									.box-body
										p Test test test test. Test test test test.
							button.btn.btn-box-tool.openCross#movementsChart-cross
								i.fa.fa-bar-chart
								|  Compare
							button.btn.btn-box-tool.disabled#resetmovementsTimeChart
								i.fa.fa-chain-broken
								|  Reset
					.box-body.loading-height-tall
						.no-y-axis-line#movementsChart
						.no-y-axis#movementsTimeChart
							// vvvv allows for identifying wether a filter is active or not
							.reset
					+loading

			// Delay Airline Scatter Plot
			.col-md-6.col-sm-6.col-xs-12
				.box.box-solid
					.box-header.with-border
						h3.box-title Delay by Time of Day 
							small (min)
						.box-tools.pull-right
							button.btn.btn-box-tool#colourflightDelay
								i.fa.fa-eye
								i.fa.fa-eye-slash(style="display: none")
								|  Colours
							button.btn.btn-box-tool.infoflightDelay_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoflightDelay
								+info
								.box-body
									p Test test test test.
							//- button.btn.btn-box-tool.openCross#flightDelay-cross
							//- 	i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resetflightDelay
								i.fa.fa-chain-broken
					.box-body.loading-height-tall
						.no-y-axis-line#flightDelay
							.reset
					+loading

		// Time of Day, Delay, and Distance
		.row
			// Top Airports
			.col-md-3.col-sm-3.col-xs-12#width-quarter
				.box.box-solid
					.box-header.with-border
						h3.box-title Connections 
							small (in- and outbound flights)
						.box-tools.pull-right
							button.btn.btn-box-tool.infoairportsChart_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoairportsChart
								+info
								.box-body
									p Test test test test.
							button.btn.btn-box-tool.openCross#airportsChart-cross
								i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resetairportsChart
								i.fa.fa-chain-broken
					.box-body.loading-height-tall
						#airportsChart
							.reset
					+loading

			// Day of Week
			.col-md-3.col-sm-3.col-xs-12
				.box.box-solid
					.box-header.with-border
						h3.box-title Day of Week
						.box-tools.pull-right
							button.btn.btn-box-tool.infoWeekdayChart_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoWeekdayChart
								+info
								.box-body
									p Test test test test.
							button.btn.btn-box-tool.openCross#weekdayChart-cross
								i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resetweekdayChart
								i.fa.fa-chain-broken
					.box-body.loading-height-tall
						#weekdayChart
							.reset
					+loading

			// Delay
			.col-md-6.col-sm-6.col-xs-12
				.box.box-solid
					.box-header.with-border
						h3.box-title Delay Length 
							small (min)
						.box-tools.pull-right
							button.btn.btn-box-tool.infoDelayChart_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoDelayChart
								+info
								.box-body
									p Test test test test.
							button.btn.btn-box-tool.openCross#delayChart-cross
								i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resetdelayChart
								i.fa.fa-chain-broken
					.box-body.loading-height-short
						.no-y-axis#delayChart
							.reset
					+loading

			// Time of Day
			.col-md-3.col-sm-3.col-xs-12
				.box.box-solid
					.box-header.with-border
						h3.box-title Time of Day
						.box-tools.pull-right
							button.btn.btn-box-tool.infoTodChart_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoTodChart
								+info
								.box-body
									p Test test test test.
							button.btn.btn-box-tool.openCross#todChart-cross
								i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resettodChart
								i.fa.fa-chain-broken
					.box-body.loading-height-short
						.no-y-axis#todChart
							.reset
					+loading

			// Distance
			.col-md-3.col-sm-3.col-xs-12
				.box.box-solid
					.box-header.with-border
						h3.box-title Flight Distance 
							small (mi.)
						.box-tools.pull-right
							button.btn.btn-box-tool.infoDistanceChart_open
								i.fa.fa-info
							// Info content
							.info.box.box-solid#infoDistanceChart
								+info
								.box-body
									p Test test test test.
							button.btn.btn-box-tool.openCross#distanceChart-cross
								i.fa.fa-bar-chart
							button.btn.btn-box-tool.disabled#resetdistanceChart
								i.fa.fa-chain-broken
					.box-body.loading-height-short
						.no-y-axis#distanceChart
							.reset
					+loading

		// Flight Table (hidden on XS)
		.row
			.col-md-12.hidden-xs
				.box.box-solid.collapsed-box
					.box-header.with-border
						h3.box-title Latest Flights
						.box-tools.pull-right
							a.btn.btn-box-tool(href='/data/example.csv')
								i.fa.fa-download
								|  Download Data
							button.btn.btn-box-tool(data-widget='collapse')
								i.fa.fa-plus
					.box-body.loading-height-short
						table.table.table-bordered.table-hover#flightsTable
					+loading

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/c3.min.js', type='text/javascript')
	script(src='js/plugins/jquery.popupoverlay.min.js', type='text/javascript')
	
	// Page specific logic
	script(src='js/example.js', type='text/javascript')
	script(src='js/crosscompare.js', type='text/javascript')

mixin loading
	// Loading overlay and icon
	.overlay.loading
		i.fa.fa-refresh.fa-spin

mixin info
	// Information tooltip
	.box-header
		h3.box-title Info
		.box-tools.pull-right
			button.btn.btn-box-tool.info_close
				i.fa.fa-times