extends layout

block links
	// Plugin specific styles
	link(href='css/plugins/dc.css', rel='stylesheet', type='text/css')
	link(href='css/plugins/c3.min.css', rel='stylesheet', type='text/css')

	// Page specific styles
	link(href='css/example.css', rel='stylesheet', type='text/css')

block content
	// Main content
	section.content
		// Airport and Compare (Header)
		.row
			// Airport Select
			.col-md-8.col-sm-12.col-xs-12
				h1
					strong Airport 
					select.form-control#airport-select
						option(value='ALL') show all
						option(value='ATL') Atlanta (ATL)
						option(value='ORD') Chicago (ORD) 
						option(value='JFK') New York (JFK)
					|  
					span.hidden-xs#reset-all

			// Compare Box
			.col-md-4.col-sm-12.col-xs-12
				.box.box-default
					.box-header.with-border
						i.fa.fa-compress
						|	
						h3.box-title CrossCompare
					.box-body
						#crosscompare
					+loading

		// Movement, date, and KPIs
		.row
			// Movements by Date
			.col-md-8.col-sm-12.col-xs-12#8-12-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-area-chart
						|	
						h3.box-title Number of Flights 
							small (per hour)
						+reset-single
					.box-body.loading-height-main
						#movements-chart
						.no-y-axis#movements-time-chart
					+loading

			// Total Flights
			.col-md-4.col-sm-6.col-xs-12
				.info-box.comparable
					span.info-box-icon.bg-blue
						i.fa.fa-plane
					|								 
					.info-box-content
						span.info-box-text Total Flights
						|									 
						span.info-box-number#flights 
						+loading
					

			// Average Delay
			.col-md-4.col-sm-6.col-xs-12
				.info-box.comparable
						span.info-box-icon.bg-blue
							i.fa.fa-clock-o
						|								 
						.info-box-content
							span.info-box-text Mean Delay
							|									 
							span.info-box-number
								#delay 
								|  minutes
							+loading

			// Weekday Average Delay
			.col-md-4.col-sm-12.col-xs-12#4-12-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Mean Delay 
							small (min)
						+reset-single
					.box-body.loading-height-side
						#weekday-chart
					+loading

		// Time of Day, Delay, and Distance
		.row
			// Time of Day
			.col-md-4.col-sm-4.col-xs-12#4-4-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Time of Day
						+reset-single
					.box-body.loading-height-side
						.no-y-axis#tod-chart
					+loading

			// Delay
			.col-md-4.col-sm-4.col-xs-12
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Delay Length 
							small (min)
						+reset-single
					.box-body.loading-height-side
						.no-y-axis#delay-length-chart
					+loading

			// Distance
			.col-md-4.col-sm-4.col-xs-12
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Flight Distance 
							small (miles)
						+reset-single
					.box-body.loading-height-side
						.no-y-axis#distance-chart
					+loading

		// Average Delay by Airline
		.row
			.col-xs-12#12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-pie-chart
						|	
						h3.box-title Average Delay by Airline 
							small (radius: number of flights, colour: mean delay)
						span#tod-chart-reset
						+reset-single
					.box-body.loading-height-side.no-bottom-padding
						#airline-delay-chart
					+loading

		// Flight Table (hidden on XS)
		.row
			.col-md-12.hidden-xs
				.box.box-default
					.box-header.with-border
						i.fa.fa-table
						|	
						h3.box-title Latest Flights
						.box-tools.pull-right
							button.btn.btn-box-tool(data-widget="collapse")
								i.fa.fa-minus
					.box-body.loading-height-side
						table.table.table-bordered.table-hover#flights-table
					+loading

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/c3.min.js', type='text/javascript')

	// Page specific logic
	script(src='js/example.js', type='text/javascript')
	script(src='js/comparable.js', type='text/javascript')

mixin reset-single
	// Clear filter icon
	.box-tools.pull-right
		button.btn.btn-box-tool.reset.disabled
			i.fa.fa-chain-broken

mixin loading
	// Loading overlay and icon
	.overlay.loading
		i.fa.fa-refresh.fa-spin