extends layout

block links
	link(href='css/dc.css', rel='stylesheet', type='text/css')
	link(href='css/example.css', rel='stylesheet', type='text/css')

block content
	// Main content
	section.content
		.row
			.col-md-8.col-sm-6.col-xs-12
				h1 Airport: 
					strong#airport
						select#airport-select
							option(value='ATL') Atlanta
							option(value='ORD') Chicago
							option(value='JFK') New York
					small
						.dc-data-count

			// Comparison
			.col-md-4.col-sm-6.col-xs-12#comparison-chart-width
				.box.box-primary
					.box-header.with-border
						i.fa.fa-compress
						|	
						h3.box-title Comparison
					.box-body
						#comparison-chart

		.row
			.container-fluid
				h3 KPIs
			// Movements
			.col-md-3.col-sm-6.col-xs-12
				.info-box.comparable(style='cursor: move;')
						span.info-box-icon.bg-blue
							i.fa.fa-plane
						|								 
						.info-box-content
							span.info-box-text Movements
							|									 
							span.info-box-number#movements -

			// Average Delay
			.col-md-3.col-sm-6.col-xs-12
				.info-box.comparable(style='cursor: move;')
						span.info-box-icon.bg-blue
							i.fa.fa-clock-o
						|								 
						.info-box-content
							span.info-box-text Average Delay
							|									 
							span.info-box-number#delay -

		.row
			.container-fluid
				h3 Movement Data
			// Total Movements Chart
			.col-md-8.col-sm-8.col-xs-12#movements-chart-width
				.box.box-primary
					.box-header.comparable(style='cursor: move;')
						i.fa.fa-bar-chart-o
						|	
						h3.box-title
							a(href="#")#test Total Movements
							|  
							a(href="#")#test2 EMPTY
					.box-body
						#movements-chart
						#movements-time-chart
					//- // Loading Icon
					//- .overlay#testchart1-loading
					//- 	i.fa.fa-refresh.fa-spin

			// Top Destinations
			.col-md-4.col-sm-4.col-xs-12#destinations-chart-width
				.box.box-primary
					.box-header.with-border.comparable(style='cursor: move;')
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Top 10 Destinations
					.box-body
						#destinations-chart

		.row
			.container-fluid
				h3 Delay Data
			// Delay Length Chart
			.col-md-6.col-sm-6.col-xs-12#delay-length-chart-width
				.box.box-primary
					.box-header.with-border.comparable(style='cursor: move;')
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Delay Length
					.box-body
						#delay-length-chart

			// Delay by Airline Chart
			.col-md-6.col-sm-6.col-xs-12#airline-chart-width
				.box.box-primary
					.box-header.with-border.comparable(style='cursor: move;')
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Movements by Airline
					.box-body
						#airline-chart

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/queue.min.js', type='text/javascript')
	// Page specific logic
	script(src='js/example.js', type='text/javascript')