extends layout

block links
	// Plugin specific styles
	link(href='css/dc.css', rel='stylesheet', type='text/css')
	link(href='css/c3.min.css', rel='stylesheet', type='text/css')

	// Page specific styles
	link(href='css/example.css', rel='stylesheet', type='text/css')

block content
	// Main content
	section.content
		// Airport and Compare (Header)
		.row
			// Airport Select
			.col-md-8.col-sm-6.col-xs-12
				h1 Airport: 
					strong#airport
						select#airport-select
							option(value='ALL') Global
							option(value='ATL') Atlanta
							option(value='ORD') Chicago
							option(value='JFK') New York
					//- small
					//- 	a(href='javascript:dc.filterAll(); dc.renderAll();') Reset All

			// Compare Box
			.col-md-4.col-sm-6.col-xs-12#4-6-12-width
				.box.box-default
					.box-header.with-border
						i.fa.fa-compress
						|	
						h3.box-title Comparison
						button.pull-right.btn.btn-xs.btn-default#reset-compare Clear
					.box-body
						#comparison-dropbox Drag and Drop
						#comparison-chart

		// Movement, date, and KPIs
		.row
			// Movements by Date
			.col-md-8.col-sm-12.col-xs-12#8-12-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-area-chart
						|	
						h3.box-title
							a(href="#comparison-chart-width")#test Flight Development
					.box-body
						#movements-chart
						#movements-time-chart
					//- // Loading Icon
					//- .overlay#testchart1-loading
					//- 	i.fa.fa-refresh.fa-spin

			// Total Flights
			.col-md-4.col-sm-6.col-xs-12
				.info-box.comparable
						span.info-box-icon.bg-blue
							i.fa.fa-plane
						|								 
						.info-box-content
							span.info-box-text Number of Flights
							|									 
							span.info-box-number#flights 

			// Average Delay
			.col-md-4.col-sm-6.col-xs-12
				.info-box.comparable
						span.info-box-icon.bg-blue
							i.fa.fa-clock-o
						|								 
						.info-box-content
							span.info-box-text Average Delay
							|									 
							span.info-box-number
								#delay 
								|  minutes

			// Weekday
			.col-md-4.col-sm-12.col-xs-12#4-12-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title
							a(href="#comparison-chart-width")#test2 Movements by Weekday
					.box-body
						#weekday-chart

		// Time of Day, Delay, and Distance
		.row
			// Time of Day
			.col-md-4.col-sm-4.col-xs-12#4-4-12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Time of Day
					.box-body
						#tod-chart

			// Delay
			.col-md-4.col-sm-4.col-xs-12
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title 
							a(href="#comparison-chart-width")#test3 Delay Length
					.box-body
						#delay-length-chart

			// Distance
			.col-md-4.col-sm-4.col-xs-12
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-bar-chart-o
						|	
						h3.box-title Flight Distance
					.box-body
						#distance-chart

		// Average Delay by Airline
		.row
			.col-xs-12#12-width
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-pie-chart
						|	
						h3.box-title Average Delay by Airline
					.box-body
						#airline-delay-chart

		// Flight Table
		.row
			.col-xs-12
				.box.box-primary
					.box-header.with-border.comparable
						i.fa.fa-table
						|	
						h3.box-title Flight Table
					.box-body
						#flight-table

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/c3.min.js', type='text/javascript')

	// Page specific logic
	script(src='js/example.js', type='text/javascript')