extends layout

block links
	// Plugin specific styles
	link(href='css/plugins/dc.css', rel='stylesheet', type='text/css')
	link(href='css/plugins/c3.min.css', rel='stylesheet', type='text/css')

	// Page specific styles
	link(href='css/example.css', rel='stylesheet', type='text/css')
	link(href='css/experiment.css', rel='stylesheet', type='text/css')

block content
	.row
		.col-xs-9
			#overlay
			// CrossCompare status text and control
			#crosscompareInfo
				span#crosscompare-info -
				.pull-right
					button.btn.btn-xs.btn-primary.maxCrossCompare_open.closeCross Show Comparison
					|  
					button.btn.btn-xs.btn-default.closeCross.resetCrossCompare Close

			// CrossCompare comparison chart
			#maxCrossCompare: .box.box-solid
				.box-header.with-border
					h3.box-title CrossCompare 
						small Show as: 
					|  
					a.btn.btn-box-tool(href='javascript:crosscompare.chart.rendered.transform(\'line\');')
						i.fa.fa-line-chart
						|  Line
					a.btn.btn-box-tool(href='javascript:crosscompare.chart.rendered.transform(\'area\');')
						i.fa.fa-area-chart
						|  Area
					a.btn.btn-box-tool(href='javascript:crosscompare.chart.rendered.transform(\'bar\');')
						i.fa.fa-bar-chart
						|  Bar
					.box-tools.pull-right
						button.btn.btn-box-tool.maxCrossCompare_close.openCross
							i.fa.fa-minus
							|  Minimize
						button.btn.btn-box-tool.maxCrossCompare_close.resetCrossCompare
							i.fa.fa-times
							|  Close
				.box-body: #crosscompare

			// Main content
			section.content
				// Airport and Compare (Header)
				.row
					// Airport Select
					.col-md-3.col-sm-3.col-xs-12: .box.box-primary: .box-body.selection
						.col-xs-3.text-center Airport 
						strong: select.form-control.col-xs-9#airportSelect
							option(value='ALL') show all
							option(value='ATL') Atlanta (ATL)
							option(value='ORD') Chicago (ORD)
							option(value='JFK') New York (JFK)

					// Airline Select
					.col-md-3.col-sm-3.col-xs-12: .box.box-default: .box-body.selection
						.col-xs-3.text-center Airline 
						strong: select.form-control.col-xs-9#airlineSelect
							option(value='ALL') show all
							option(value='AA') American (AA)
							option(value='B6') Jetblue (B6)
							option(value='DL') Delta (DL)

					// Total Flights
					.col-md-2.col-sm-2.col-xs-12: .box.box-info
						.box-body.selection: #flights 
						+loading

					// Average Delay
					.col-md-2.col-sm-2.col-xs-12: .box.box-info
						.box-body.selection
							| Mean Delay: 
							strong#delay 
							small  (min)
						+loading

					// Reset All Button
					.col-md-2.col-sm-2.hidden-xs: .col-xs-8.pull-right#resetButton
						.box.box-solid: #resetAll

				// Movement, date, and KPIs
				.row
					// Movements by Date
					.col-md-6.col-sm-6.col-xs-12#width-half: .box.box-solid
						.box-header.with-border
							h3.box-title Number of Flights 
								small (per hour)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoMovementsChart_open
									i.fa.fa-info
									|  Info
								// Info content
								.info.box.box-solid#infoMovementsChart
									+info
									.box-body
										p Illustration of the total number of flights per hour over the selected period of time.
										p 
											strong Interactions
											br
											| Upper chart: Scroll to zoom in and out.
											br
											| Lower chart: Click and drag to select a time period.
								button.btn.btn-box-tool.openCross#movementsChart-cross
									+cross
									|  Cache
								button.btn.btn-box-tool.disabled#resetmovementsTimeChart
									+filter
									|  Reset
						.box-body.loading-height-tall
							.no-y-axis-line#movementsChart
							.no-y-axis#movementsTimeChart: .reset
						+loading

					// Delay Airline Scatter Plot
					.col-md-6.col-sm-6.col-xs-12: .box.box-solid
						.box-header.with-border
							h3.box-title Delay by Time of Day 
								small (min)
							.box-tools.pull-right
								button.btn.btn-box-tool#colourflightDelay
									i.fa.fa-eye
									i.fa.fa-eye-slash(style="display: none")
									|  Colours
								button.btn.btn-box-tool.hidden-xs.infoflightDelay_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoflightDelay
									+info
									.box-body
										p Illustration of flights by their time of day (x-axis) and their arrival/departure delay in minutes (y-axis). The colours indicate the severity of delay. The shown delay is capped to be between -60 and +180 minutes.
										p 
											strong Interaction
											br
											| Click and drag to select a time-of-day- and delay-range.
								button.btn.btn-box-tool.disabled#resetflightDelay: +filter
						.box-body.loading-height-tall
							.no-y-axis-line#flightDelay: .reset
						+loading

				// Time of Day, Delay, and Distance
				.row
					// Top Airports
					.col-md-3.col-sm-3.col-xs-12#width-quarter: .box.box-solid
						.box-header.with-border
							h3.box-title Connections 
								small (flights)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoairportsChart_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoairportsChart
									+info
									.box-body
										p Illustration of the total number of in- and outbound flights from/to connected airports. Only the top 9 airports are shown, all others are summarized as 'Others'.
										p 
											strong Interaction
											br
											| Select one or more rows by clicking on the row.
								button.btn.btn-box-tool.openCross#airportsChart-cross: +cross
								button.btn.btn-box-tool.disabled#resetairportsChart: +filter
						.box-body.loading-height-tall: #airportsChart: .reset
						+loading

					// Day of Week
					.col-md-3.col-sm-3.col-xs-12: .box.box-solid
						.box-header.with-border
							h3.box-title Day of Week 
								small (flights)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoWeekdayChart_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoWeekdayChart
									+info
									.box-body
										p Illustration of the total number of flights per day of week.
										p 
											strong Interaction
											br
											| Select one or more rows by clicking on the row.
								button.btn.btn-box-tool.openCross#weekdayChart-cross: +cross
								button.btn.btn-box-tool.disabled#resetweekdayChart: +filter
						.box-body.loading-height-tall: #weekdayChart: .reset
						+loading

					// Delay
					.col-md-6.col-sm-6.col-xs-12: .box.box-solid
						.box-header.with-border
							h3.box-title Delay Length 
								small (min)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoDelayChart_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoDelayChart
									+info
									.box-body
										p Illustration of the total number of flights per minutes of delay. The shown delay is capped to be between -60 and +180 minutes.
										p 
											strong Interaction
											br
											| Click and drag to select a delay-range.
								button.btn.btn-box-tool.openCross#delayChart-cross: +cross
								button.btn.btn-box-tool.disabled#resetdelayChart: +filter
						.box-body.loading-height-short: .no-y-axis#delayChart: .reset
						+loading

					// Time of Day
					.col-md-3.col-sm-3.col-xs-12: .box.box-solid
						.box-header.with-border
							h3.box-title Time of Day 
								small (flights)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoTodChart_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoTodChart
									+info
									.box-body
										p Illustration of the total number of flights by time of day.
										p 
											strong Interaction
											br
											| Click and drag to select a time-of-day-range.
								button.btn.btn-box-tool.openCross#todChart-cross: +cross
								button.btn.btn-box-tool.disabled#resettodChart: +filter
						.box-body.loading-height-short: .no-y-axis#todChart: .reset
						+loading

					// Distance
					.col-md-3.col-sm-3.col-xs-12: .box.box-solid
						.box-header.with-border
							h3.box-title Flight Distance 
								small (mi.)
							.box-tools.pull-right
								button.btn.btn-box-tool.hidden-xs.infoDistanceChart_open: i.fa.fa-info
								// Info content
								.info.box.box-solid#infoDistanceChart
									+info
									.box-body
										p Illustration of the total number of flights by flight distance in miles.
										p 
											strong Interaction
											br
											| Click and drag to select a distance-range.
								button.btn.btn-box-tool.openCross#distanceChart-cross: +cross
								button.btn.btn-box-tool.disabled#resetdistanceChart: +filter
						.box-body.loading-height-short: .no-y-axis#distanceChart: .reset
						+loading

		// Survey Monkey
		.sidebar-nav-fixed
			script (function(e,t,n,o){var s,c,i;e.SMCX=e.SMCX||[],t.getElementById(o)||(s=t.getElementsByTagName(n),c=s[s.length-1],i=t.createElement(n),i.type="text/javascript",i.async=!0,i.id=o,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/ikTAg1aImR_2FuLK_2FbxreS92AHCXLa3KXBIJuDdKhGWVylri5_2FDylObbwPBFg3OmCH.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/c3.min.js', type='text/javascript')
	script(src='js/plugins/jquery.popupoverlay.min.js', type='text/javascript')
	script(src='js/plugins/crosscompare.min.js', type='text/javascript')
	
	// Page specific logic
	script(src='js/example.min.js', type='text/javascript')
	script(src='js/experiment.js', type='text/javascript')
	script(src='js/experiment-live.js', type='text/javascript')

// Loading overlay and icon
mixin loading
	.overlay.loading: i.fa.fa-refresh.fa-spin

// Information tooltip
mixin info
	.box-header
		h3.box-title Information
		.box-tools.pull-right: button.btn.btn-box-tool.info_close: i.fa.fa-times

// Filter Icon
mixin filter
	i.fa.fa-chain-broken

// CrossCompare Icon
mixin cross
	i.fa.fa-bookmark