extends layout

block links
	link(href='css/dc.css', rel='stylesheet', type='text/css')

block content
	// Content Header (Page header)
	section.content-header
		h1
			| Dashboard
			small
				// Filter controls
				.dc-data-count#row-selection
					| 
					span.filter-count _ 
					| 
					| selected out of
					| 
					span.total-count _ 
					| 
					a(href='javascript:dc.filterAll();dc.redrawAll();') Reset all

	// Main content
	section.content
		// Test Chart 1
		.col-md-6.col-sm-6.col-xs-12
			.box.box-primary
				.box-header.with-border
					i.fa.fa-bar-chart-o
					|	
					h3.box-title Test Chart 1
					.box-tools.pull-right
						button.btn.btn-box-tool(data-widget='collapse')
							i.fa.fa-minus
				.box-body
					div#testchart1(style='height: 220px;')
				//- // Loading Icon
				//- .overlay#testchart1-loading
				//- 	i.fa.fa-refresh.fa-spin

		// Test Chart 2
		.col-md-6.col-sm-6.col-xs-12
			.box.box-primary
				.box-header.with-border
					i.fa.fa-bar-chart-o
					|	
					h3.box-title Test Chart 2
					.box-tools.pull-right
						button.btn.btn-box-tool(data-widget='collapse')
							i.fa.fa-minus
				.box-body
					div#testchart2(style='height: 220px;')
				//- // Loading Icon
				//- .overlay#testchart1-loading
				//- 	i.fa.fa-refresh.fa-spin

		// Total Entries (Box)
		.col-md-3.col-sm-6.col-xs-12
			.small-box.bg-blue
				.inner
					h3 0
					p Number of DB entries
				.icon
					i.fa.fa-plane
				a.small-box-footer(href='#')
					| More info 
					i.fa.fa-arrow-circle-right

		// TEST
		.col-md-3.col-sm-6.col-xs-12
			.info-box
					span.info-box-icon.bg-blue
						i.fa.fa-plane
					|								 
					.info-box-content
						span.info-box-text Flights
						|									 
						span.info-box-number XXXX

		// TEST Progress
		.col-md-3.col-sm-6.col-xs-12
			.info-box.bg-blue
					span.info-box-icon
						i.fa.fa-bookmark-o
					|								 
					.info-box-content
						span.info-box-text Flights
						|									 
						span.info-box-number XXXXXX
						|									 
						.progress
							.progress-bar(style='width: 60%')
						|									 
						span.progress-description
							| 60% Increase in 30 Days

block scripts
	// Page specific plugins
	script(src='js/plugins/d3.min.js', type='text/javascript')
	script(src='js/plugins/crossfilter.min.js', type='text/javascript')
	script(src='js/plugins/dc.min.js', type='text/javascript')
	script(src='js/plugins/queue.min.js', type='text/javascript')
	// Page specific logic
	script(src='js/index.js', type='text/javascript')