extends layout

block links
	link(href='css/index.css', rel='stylesheet', type='text/css')

block content
	// Content Header (Page header)
	.header-img
		.container
			h1 
				strong CrossCompare.js
			hr.header-line
			h3 Easy comparison charting using crossfilter, dc.js, and c3.js

	// Main content
	section.content
		// Interactive
		.container.first
			.col-md-1.col-sm-1.hidden-xs
			.col-md-6.col-sm-6.col-xs-12.text-right
				h2 Interactive
				p test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test 
			.col-md-4.col-sm-4.hidden-xs
				img(src="").placeholder.img-responsive
			.col-md-1.col-sm-1.hidden-xs


		// Seperator
		.row
			hr.body-line

		// Versatile
		.container
			.col-md-1.col-sm-1.hidden-xs
			.col-md-4.col-sm-4.hidden-xs
				img(src="").placeholder.img-responsive
			.col-md-6.col-sm-6.col-xs-12
				h2 Versatile
				p test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test 
			.col-md-1.col-sm-1.hidden-xs

		// Seperator
		.row
			hr.body-line

		// Open-source
		.container.last
			.col-md-1.col-sm-1.hidden-xs
			.col-md-6.col-sm-6.col-xs-12.text-right
				h2 Open-source
				p test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test 
			.col-md-4.col-sm-4.hidden-xs
				img(src="").placeholder.img-responsive
			.col-md-1.col-sm-1.hidden-xs

block scripts