#crosscompareInfo {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	height: 45px;
	position:	fixed;
	top: 0;
	z-index: 10000;
	display: none;
	width: 26%;
	margin: 0 0 0 -13%;
	left:50%;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}