/* Change yAxis label color */
.dc-chart g.row text {fill: black;}

/* Show hand icon */
.comparable { cursor: move; }

/* delay gap fix */
#delay { padding-right: 5px; }

/* over write bootstrap*/
.table {
	margin-bottom: 0px;
}

.dc-table-head {
	padding: 5px;
	background-color: #F8F8F8;
}