/* Design Continue Button */
#exp-cont {
	position: absolute;
	top: 7px;
	right: 7px;
	z-index: 10000000;
}

/* Design Overlay Buttons */
.exp { margin: 20px; }

/* Design Highlighted Components */
.highlight { border: solid 2px red; }
.highlight-top { border-top: solid 2px red; }
.highlight-btn { background-color: #FFD8D8; }