.header-img {
	padding-top: 75px;
	padding-bottom: 75px;
	text-align: center;
	background: url(../img/header.jpg) no-repeat center center;
	background-size: cover;
}

.header-line {
	border-color: #000;
	width: 75%;
}

.body-line {
	margin-top: 75px;
	margin-bottom: 75px;
	border-color: #ddd;
	width: 35%;
}

.first {
	margin-top: 60px;
}

.last {
	margin-bottom: 60px;
}

.placeholder {
	height: 200px;
	background-color: #aaaaaa;
	margin-left: 10px;
	margin-right: 10px;
}